# Build and package folders
###################

nbproject/private/
nbproject/project.propeties
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
packages
typings
.tmp

# System folders
###################
.DS_Store

# Node & Bower & JSPM
###################
node_modules
bower_components
jspm_packages

# Test reporters
###################
**/test/coverage
report
nbproject/project.properties
nbproject/project.xml
